<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="fundingSQL">
	
	<!-- 펀딩 댓글에서 boardF 게시글 번호와 일치하는지?  -->
	<!-- <select id="selectBoardF" resultMap="boardFMap">
	  select boardFSeq, userId, boardFExpireDate, boardFIsExpired, boardFSubject, boardFGoalAmount, boardFContent, boardFSendDate, boardFTotRewardCnt
	  from boardF
	  where boardFSeq = #{boardFSeq}
	</select> -->
 
 	<insert id="fundingWrite" parameterType="board.bean.FundingDTO">
	    insert into boardF(boardFSeq,
	    					userId,
	    					boardFExpireDate,
	    					boardFIsExpired,
	    					boardFSubject,
	    					boardFGoalAmount,
	    					boardFContent,
	    					boardFSendDate,
	    					boardFTotRewardCnt,
	    					boardFThumbnail,
	    					boardFRewardSelect,
	    					boardFRewardPrice
	    				)
	     			values(SEQ_BOARDFSEQ.nextval,
	     						#{userId},
		 						#{boardFExpireDate},
		 						#{boardFIsExpired},
		 						#{boardFSubject},
		 						#{boardFGoalAmount},
		 						#{boardFContent},
		 						#{boardFSendDate},
		 						#{boardFTotRewardCnt},
		 						#{boardFThumbnail.bytes},
			            <foreach collection='boardFRewardSelect' item='rewordSelect' separator=','>
			                #{rewordSelect}
			            </foreach>,
			            <foreach collection='boardFRewardPrice' item='rewordPrice' separator=','>
			                #{rewordPrice}
			            </foreach>)
	</insert>
	
	<select id="fundingGetBoard" parameterType="int" resultType="board.bean.FundingDTO">
	    SELECT * FROM boardF WHERE boardFSeq = #{boardFSeq}
	</select>
	
	<select id="fundingGetBoardList" parameterType="int" resultType="board.bean.FundingDTO">
	    SELECT * FROM boardF ORDER BY boardFSeq DESC
	</select>
    
</mapper>